<!doctype html>
<html lang="en">
  <head>
    <title>Library Home</title>
    <%- include("partials/header") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <main class="container py-5">
      <div class="card p-5 text-center">
        <h1 class="mb-3">Welcome to the Dambit Library!</h1>
        <p class="mb-4">
          Enjoy convenient seat reservations through our seat reservation system
        </p>
        <a href="/reserve" class="btn btn-primary btn-lg"> Reservation </a>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
