<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Library reservation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container py-4">
      <div class="col-lg-8 mb-4">
        <div id="seats"></div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <h1 class="card-header">Library reservation</h1>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">zone</label>
              <select id="zone" class="form-select">
                <option selected>All</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Date</label>
              <input id="date" type="date" class="form-control" />
            </div>

            <div class="mb-3">
              <label class="form-label">Start Time</label>
              <select id="startTime" class="form-select"></select>
            </div>

            <div class="mb-3">
              <label class="form-label">End Time</label>
              <select id="endTime" class="form-select"></select>
            </div>

            <div class="mb-3 align-items-center">
              <button id="loadBtn" type="button" class="btn btn-primary">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
