<!doctype html>
<html lang="en">
  <head>
    <title>Reserve Seats</title>
    <%- include("partials/header") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-lg-8 mb-4">
          <div id="seats"></div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="card">
            <h1 class="card-header">Seat reservation</h1>
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label">zone</label>
                <select id="zone" class="form-select">
                  <option selected value="">All</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>

              <div class="mb-3">
                <label class="form-label">Date</label>
                <input id="date" type="date" class="form-control" />
              </div>

              <div class="mb-3">
                <label class="form-label">Start Time</label>
                <select id="startTime" class="form-select"></select>
              </div>

              <div class="mb-3">
                <label class="form-label">End Time</label>
                <select id="endTime" class="form-select"></select>
              </div>

              <div class="mb-3 align-items-center">
                <button id="loadBtn" type="button" class="btn btn-primary">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
