<!doctype html>
<html lang="en">
  <head>
    <title>Library Home</title>
    <%- include("partials/header") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <main class="container py-5"></main>

    <%- include("partials/footer") %>
  </body>
</html>
